<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-8 offset-md-3'>
      <%= render "public/post_images/show", post_image: @post_image %>
      <div class=<%= "favorite-" + @post_image.id.to_s %> >
        <%= render "public/favorites/btn", post_image: @post_image %>
      </div>
      <div class="post_image-comments-counter mt-3">
        <%= render "public/post_comments/counter", post_image: @post_image %>
      </div>
      <div class="post-comments-index my-3">
        <%= render "public/post_comments/index", post_image: @post_image %>
      </div>
      <%= render "public/post_comments/form", post_image: @post_image, post_comment: @post_comment %>
    </div>
  </div>
</div>