<% if @model == 'user' %>
	<h3>"<%= @content %>" のユーザー検索結果</h3>
  <%= render 'public/users/index', users: @records %>
<% elsif @model == 'post_image' %>
	<h3>"<%= @content %>" の投稿記事検索結果</h3>
  <%= render 'public/post_images/index', post_images: @records %>
<% elsif @model == 'tag' %>
  <h3>"<%= @content %>" のタグ検索結果</h3>
  <%= render 'public/tags/index', tags: @records %>
<% end %>